#search-user{
    width: 600px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 0 1rem;
    border: none;
    color: #fff;
    background-color: #9B6DC6;
}
#search-user::placeholder{
    color: #fff; 
}